html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-bottom: 1px #303a52 solid;
}

h1 {
  font-weight: 100;
  font-size: 24px;
}

body {
  background: #574b90;
  margin: 0;
  color: white;
  font-family: 'Work Sans', sans-serif;  
  /* font-weight: 100; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sounds__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  overflow-y: scroll;
}

.sounds {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 5px solid white;
}

.sounds__item {
  /* margin: 0 24px 72px; */
  /* height: 110px; */
  padding: 30px 10px 20px 10px;
  /* flex: 1 1 33%; */
  cursor:pointer;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid red;
}

i {
  padding-bottom: 15px;
  /* border: 5px solid yellow; */
}

.sounds__item--active {
  opacity: 1;
}

.slide-container {
  padding-top: 15px;
  width: 100px;
  visibility: hidden;
  /* border: 5px solid black; */
}

.slide-container--enabled {
  visibility: visible;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background: #FFFFFF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

.player {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
  background: #303a52;
}

.player__button {
  background: #303a52;
  border: 0;
  outline: none;
  cursor: pointer;
}

.player__button--disabled {
  display:none;
}

@media only screen and (max-width: 500px) {
  
  .sounds__wrapper {
  margin: 20px 10px 10px;
  }

  .player {
    padding: 15px;
  }
}