html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px #303a52 solid;
  justify-content: space-between;
}

h1 {
  font-weight: 100;
  font-size: 24px;
}

.volume__status {
  cursor: pointer;
  display: none;
}

.volume__status--hidden {
  display: none;
}

body {
  background: #574b90;
  margin: 0;
  color: white;
  font-family: 'Work Sans', sans-serif;  
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sounds__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  overflow-y: scroll;
}

.sounds {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sounds__item {
  margin: 0 24px 72px;
  cursor:pointer;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sounds__item > i {
  padding-bottom: 15px;
}

.sounds__item--active {
  opacity: 1;
}

.slide-container {
  padding-top: 12px 0px 12px;
  width: 100px;
  visibility: hidden;
}

.slide-container--enabled {
  visibility: visible;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background: #FFFFFF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}